<h1>Login</h1>
<hr>
<p>{{ message }}</p>
<form class ="card-panel" method="post" action="/login">
	<b>Mail:</b>
    <input type="text" name="mail" placeholder="Please enter your E-Mail address" required>
	<b>Password:</b>
    <input type="password" name="password" placeholder="Please enter you password" required>
    <div class="col s12 center-align">
		<input type="submit" name="login" value="Log in" class="btn waves-effect waves-light  btn-large" >
	</div>
</form>
<p>{{ message }}</p>
<div class="col s12 right-align">
    	<a href="/signup">Sign Up</a>
</div>