<h1>Sign Up</h1>
<hr>
<p>{{ message }}</p>
{{#unless hideForm}}
<form class="card-panel" method="post" action="../signup">
	<b>Mail:</b>
    <input type="text" name="mail" value="{{ mail }}" placeholder="Please enter your E-Mail address" required>
	<b>Password:</b>
    <input type="password" name="password" placeholder="Please enter your password" required>
	<b>First Name:</b>
    <input type="text" name="firstname" maxlength="40" placeholder="Please enter your first name" required>
	<b>Last Name:</b>
    <input type="text" name="lastname" maxlength="40" placeholder="Please enter your last name" required>
    <div class="col s12 center-align">
		<input class = "btn waves-effect waves-light  btn-large" type="submit" name="signup" value="Sign up">
	</div>
{{/unless}}
</form>
<div class="col s12 right-align">
	<a href="/login">Login</a>
</div>
