<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
	    <link type="text/css" rel="stylesheet" href="stylesheets/style.css">
	    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
		<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet"/>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
        <title>Welcome to the Beergame!</title>
	</head>
	<body>
		<div class="container">
	    	{{{body}}}
		</div>
	</body>
</html>
