<script src="/socket.io/socket.io.js"></script>
<script>var player = JSON.parse('{{{ player }}}');</script>
<script>var game = JSON.parse('{{{ game }}}');</script>
<script src="../scripts/play.js"></script>
<h1>Admin Playscreen</h1>
<div class="row">
	<div class="col s12 .l12  center-align card-panel">
		<h4>Place order</h4>
		<input type="number" class="input-field" name="order"id="placeOrderInput" min=0 placeholder="Please enter order">
		<a href="#" id="placeOrder" class="btn waves-effect waves-light red btn-large default-button-margin"><i class="material-icons right md-dark">shopping_cart</i>Order</a>
	</div>
	
	<div class="col s12 .l12  center-align card-panel">
		<div class="col s6 .l6">
			<p class="panel__label">Round Number</p>
			<p class="panel__value" id="round"></p>
		</div>
		<div class="col s6 .l6">
			<p class="panel__label">Last Round?</p>
			<a href="#" id="lastRound" class="btn waves-effect waves-light blue btn-large default-button-margin">Yes</a>			
		</div>	
	</div>	
</div>