<h1>Welcome to the Beergame!</h1>
<hr>
	<p class="flow-text card-panel">This is a simulation of the Beer Distribution Game (in short: Beergame) in order to demonstrate the bullwhip effect in Supply Chain Management lessons.<br>
	For further information please contact the head of the department Prof. Dr. Daurer.</p>

<div class="row">
 	<div class="col s12 .l12  center-align">
		<a href="/playerLogin" class="btn waves-effect waves-light red btn-large"><i class="material-icons right md-dark">play_arrow</i>Play now</a>
	</div>
    
    <div class="col s12 .l12 center-align">
		<a href="/login" class="btn waves-effect waves-light  btn-large"><i class="material-icons right md-dark">perm_identity</i>Admin Login</a>
	</div>

    <div class="col s12 .l12  center-align">
		<a href="/result" class="btn waves-effect waves-light green btn-large"><i class="material-icons right md-dark">trending_up</i>Show Results</a>
	</div>
</div>