<script src="/socket.io/socket.io.js"></script>
<script>var player = JSON.parse('{{{ player }}}');</script>
<script>var game = JSON.parse('{{{ game }}}');</script>
<script src="../scripts/play.js"></script>

<div class="nav-wrapper center-align  ">
	<div class="col s12">

		{{#ifEq role 4}}
	    	<small  id="myRole">Factory (in supply chain {{ supplyChain }})</small>
		{{else}}
	    	<small  id="otherRole">Factory</small>
		{{/ifEq}}

		{{#ifEq role 3}}
	    	<small  id="myRole">Distributor (in supply chain {{ supplyChain }})</small>
		{{else}}
	    	<small  id="otherRole">Distributor</small>
		{{/ifEq}}

		{{#ifEq role 2}}
	    	<small  id="myRole">Wholesaler (in supply chain {{ supplyChain }})</small>
		{{else}}
	    	<small  id="otherRole">Wholesaler</small>
		{{/ifEq}}

		{{#ifEq role 1}}
    		<small  id="myRole">Retailer (in supply chain {{ supplyChain }})</small>
		{{else}}
    		<small  id="otherRole">Retailer</small>
		{{/ifEq}}

		{{#ifEq role 0}}
    		<small  id="myRole" >Consumer (in supply chain {{ supplyChain }})</small>
		{{else}}
    		<small  id="otherRole">Consumer</small>
		{{/ifEq}}
	</div>
</div>

<hr>
<div class="row">
	<div class="col s12 .l12 card-panel center-align">
    	<div class="col s6 .l6">
	   		<p class="panel__label">Incoming Delivery</p>
	   		<p class="panel__value" id="incomingDelivery"></p>
	        <p class="panel__label">Incoming Order</p>
	        <p class="panel__value" id="incomingOrder"></p>
		</div>

		<div class="col s6 .l6">
			<p class="panel__label">Your Delivery</p>
		    <p class="panel__value" id="outgoingDelivery"></p>
		    <p class="panel__label">Overall Costs</p>
		    <p class="panel__value" id="costs"></p>
		</div>
	</div>

	<div class="col s12 .l12  center-align card-panel">
		<h4>Place order</h4>
		<input type="number" class="input-field" name="order" min=0 id="placeOrderInput"  placeholder="Please enter order">
		<a href="#" id="placeOrder" class="btn waves-effect waves-light red btn-large default-button-margin"><i class="material-icons right md-dark">shopping_cart</i>Order</a>
	</div>

	<div class="col s12 .l12  center-align card-panel">
		<div class="col s6 .l6">
			<p class="panel__label">Inventory</p>
			<p class="panel__value" id="inventory"></p>
		</div>

		<div class="col s6 .l6">
			<p class="panel__label"><b>Backorder</b></p>
			<p class="panel__value" id="backorder"></p>
		</div>
	</div>
</div>

<div  class="right-align">
	<a href="/logout" >Logout</a>
</div>