<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.min.js"></script>

<h1>Results for Game {{token}} and Supply Chain {{supplyChainId}}</h1>

<div class="row">
    <div class="col s12 m9 l10">
        <div id="scCards" class="row">

        </div>
    </div>
    <div class="col hide-on-small-only m3 l2">
        <div class="toc-wrapper pinned">
            <ul class="section table-of-contents">
                <li><a href="#order">Order</a></li>
                <li><a href="#inventory">Inventory</a></li>
                <li><a href="#cost">Cost</a></li>
                <li><a href="#backorder">Backorder</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 m9 l10">
        <div id="order" class="section scrollspy col s12">
            <p>Order </p>
            <div id="test1" class="col s12">
                <canvas id="orderChart" width="100%" height="40%"></canvas>
            </div>
        </div>

        <div id="inventory" class="section scrollspy col s12">
            <p>Inventory </p>
            <div id="test2" class="col s12">
                <canvas id="inventoryChart" width="100%" height="40%"></canvas>
            </div>
        </div>

        <div id="cost" class="section scrollspy col s12">
            <p>Cost </p>

            <div id="test3" class="col s12">
                <canvas id="costChart" width="100%" height="40%"></canvas>
            </div>
        </div>

        <div id="backorder" class="section scrollspy col s12">
            <p>Backorder </p>
            <div id="test3" class="col s12">
                <canvas id="backorderChart" width="100%" height="40%"></canvas>
            </div>
        </div>
    </div>

</div>


<script>
    var color = [
        'red lighten-1', 'blue lighten-1'
    ];

    $.ajax({
        url: '/result/api?token={{token}}&type=sc',
        type: 'GET',
        success: function(data) {
            for(var i = 0; i < data.sc.length; i++) {
                var sc = '<div id="sc"' + i + ' class="col s12 m3">';
                sc += '<div class=' + color[i] + '>';
                sc += '<a href="' + '/result?token={{token}}&' + 'supplyChainId=' + i + '">';
                sc += '<div class="card-content white-text">';
                sc += '<span class="card-title">Supply Chain ' + i + ' </span>';
                sc += '<p></p>';

                for(var j = 0; j < data.sc[i].player.length; j++) {
                    sc += '<div class="chip" style="margin:3px">';
                    sc += data.sc[i].player[j];
                    sc += '</div>'
                }
                sc += '<p></p>';
                sc += '</div>';
                sc += '</a>';
                sc += '</div>';
                sc += '</div>';
                $("#scCards").append(sc);
            }
        }
    });
</script>
<script>
    $.ajax({
        url: '/result/api?token={{token}}&type=order&supplyChainId={{supplyChainId}}',
        type: 'GET',
        success: function(data) {
            var orderData = data;
            var ctx = document.getElementById("orderChart");
            var myChart = new Chart(ctx, {
                type: 'line',
                data: orderData,
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        }
    });


    $.ajax({
        url: '/result/api?token={{token}}&type=inventory&supplyChainId={{supplyChainId}}',
        type: 'GET',
        success: function(data) {
            var orderData = data;
            var ctx = document.getElementById("inventoryChart");
            var myChart = new Chart(ctx, {
                type: 'line',
                data: orderData,
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });

        }
    });

    $.ajax({
        url: '/result/api?token={{token}}&type=backorder&supplyChainId={{supplyChainId}}',
        type: 'GET',
        success: function(data) {
            var orderData = data;
            var ctx = document.getElementById("backorderChart");
            var myChart = new Chart(ctx, {
                type: 'line',
                data: orderData,
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });

        }
    });

    $.ajax({
        url: '/result/api?token={{token}}&type=cost&supplyChainId={{supplyChainId}}',
        type: 'GET',
        success: function(data) {
            var orderData = data;
            var ctx = document.getElementById("costChart");
            var myChart = new Chart(ctx, {
                type: 'line',
                data: orderData,
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });

        }
    });

</script>


