<h1>Result</h1>
<form method="get" action="../result" class="col s12 .l12  card-panel">
    <b>Game Token:</b>
    <input type="text" name="token" placeholder="Please enter game token" maxlength="5" required>
	<div class="center-align">
    	<button type="submit" name="login" id="login" class="btn waves-effect waves-light green btn-large">Show Results</button>
	</div> 	
</form>
<p>{{ message }}</p>
