h1   {
	text-align: center;
	font-size: 300%;
}

a {
  width: 65%;
  margin-top: 1em;
}

button {
	width: 65%;
	margin-bottom: 1em;	
}

#myRole {
	color: red;
	margin-right: 20px;
    margin-bottom: 7px;
    font-size: 100%;
}


#otherRole {
	width:5%;
	font-size: 100%;
	color: grey !important;
	margin-right: 20px;
    margin-bottom: 7px;
}

#selectRoleLabel {
	font-weight: bold;
	display: block;
}

#placeOrderInput {
	text-align: center;
	font-size:25px
}

.default-spacer{
    margin-right:30px;
}

.emphasized{
	font-size: x-large;
	color: red;
}

.default-button-margin{
    margin-bottom:20px;
}

.disable_a_href{
    pointer-events: none;
}
    
.enable_a_href{
    pointer-events: auto;
}

p {
	font-size: large !important;
	font-weight: bold;
}