<link type="text/css" rel="stylesheet" href="../../stylesheets/style.css">
<h1> Create game </h1>
<hr>
<form action="/games/create" method="post" >
	<div class="row card-panel">
		<div class="col s6 ">
			<b>Name:</b> 	<input type="text" name="name" maxlength="30" placeholder="Please enter a name" required>
		</div>
  		
		<div class="col s6">
			<b>Token:</b> 	<input type="text" name="token" value="{{ token }}" readonly="readonly">
		</div>
  		
		<div class="col s6">
			<b>Initial Inventory:</b> <input type="number" name="initialInventory" value="20"  required min="0" max="100" >
		</div>
  		
		<div class="col s6">
            <b>Costs per Stock:</b> <input type="number" name="costsPerStock" value=1 min="0">
		</div>

		<div class="col s6">
			<b>Costs per Backorder:</b> <input type="number" name="costsPerBackorder" value=2 min="0">
		</div>

		<div class="col s6">
			<b>Planned Rounds:</b> <input type="number" name="plannedRounds" value=20>
		</div>
		<div class="col s6">
			<b>Chains:</b> <input type="number" name="chains" value=1 min="1">
		</div>

		<div class="col s6">
            <b>Chain Links:</b> <input type="number" name="chainLinks" value=4 readonly="readonly">
		</div>
  		
		<div class="col s6">
			<b>Delay:</b> <input type="number" name="delay" value="2" min="0">
		</div>
  		
		<div class="col s12 center-align">
			<input type="submit" name="create" value="Create Game"  class="btn waves-effect waves-light #ffc400 amber accent-3 btn-large">
		</div>
	</div>
</form>
