<script>var message = JSON.parse('{{{ message }}}');</script>
<script src="../scripts/index.js"></script>

<h1>{{ user.firstname }}'s games</h1>
<hr>

{{#if games }}
    <table class="bordered card-panel">
        <thead>
        <tr>
            <th>Name</th>
            <th>Token</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {{#each games}}
            <tr>
                <td>{{name}}</td>
                <td>{{token}}</td>
                <td><a class="default-spacer" href="/playerLogin/{{token}}@" target="_blank">Play</a> <a
                        href="/games/delete/{{_id}}">Delete</a>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
{{else}}
    <div class="center-align">
        <table class="bordered card-panel">
            <thead>
            <tr>
                <th>Name</th>
                <th>Token</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>There are no active games</td>
            </tr>
            </tbody>
        </table>
    </div>
{{/if}}
<br>
<div class="center-align">
    <a href="/games/create" class="btn waves-effect waves-light #ffc400 amber accent-3 btn-large">Create game</a>
</div>

<div class="right-align">
    <a href="/logout">Logout</a>
</div>
<hr>
