<link type="text/css" rel="stylesheet" href="../../stylesheets/style.css">
<h1>Player Login</h1>
<hr>
<form class="card-panel" method="post" action="../playerLogin">
    <b>Game Token:</b>
        <input type="text" name="token" placeholder="Please enter a game token" maxlength="5" value="{{token}}" required>

    <b>Username:</b>
    <input type="text" name="username" maxlength="20" placeholder="Please enter your username" required>
    <div class="col s12 center-align">
    	<button class="btn waves-effect waves-light red btn-large" type="submit" name="login" id="login">Login</button>
    </div>
</form>
<p>{{ message }}</p>