<h1>Join Game</h1>
<hr>
<div class="row card-panel">
	<form method="post" action="../selectRole">
	    <div class="col s12 .l12  center-align">
	        <button name="role" type="submit" value="0" class="btn waves-effect btn-large" disabled>Consumer</button>
	    </div>
	    <div class="col s12 .l12  center-align">
	        <button name="role" type="submit" value="1" class="btn waves-effect waves-light  btn-large"
	                {{#ifRoleOccupied 1 roles}}disabled{{/ifRoleOccupied}}>Retailer
	        </button>
	    </div>
	    <div class="col s12 .l12  center-align">
	        <button name="role" type="submit" value="2"
	                class="btn waves-effect waves-light #ffc400 amber accent-3 btn-large"
	                {{#ifRoleOccupied 2 roles}}disabled{{/ifRoleOccupied}}>Wholesaler
	        </button>
	    </div>
	    <div class="col s12 .l12  center-align">
	        <button name="role" type="submit" value="3" class="btn waves-effect waves-light red btn-large"
	                {{#ifRoleOccupied 3 roles}}disabled{{/ifRoleOccupied}}>Distributor
	        </button>
	    </div></p>
	    <div class="col s12 .l12  center-align">
	        <button name="role" type="submit" value="4" class="btn waves-effect waves-light green btn-large"
	                {{#ifRoleOccupied 4 roles}}disabled{{/ifRoleOccupied}}>Factory
	        </button>
	    </div>
	    <hr>
	    <div class="col s12 .l12  center-align">
	    	<b>Click a button in order to occupy a role.</b>
	    </div>
	</form>
</div>
<p>{{ message }}</p>
<div class="col s12 right-align">
    <a href="/logout">Logout</a>
</div>